body{
  text-align: center;
  background-color: #F1F0EA;
}
li{
  border: 2px solid;
  background-color: #92C9B1;
  border-radius: 80px 10px 80px 10px;
  opacity: 0.8;
}
li:hover{
  opacity: 1.0;
}
h1{
  font-family: 'Cinzel Decorative', cursive;
}
h2{
  background-color: #92C9B1;
  font-family: 'Cinzel Decorative', cursive;
}
h3{
  background-color: #E0DDCF;
  font-family: 'Cinzel Decorative', cursive;
}
.rounded-circle{
  width: 20%;
}
.rounded{
  width: 20%;
}
.imgLoisir{
  height: 250px;
  width: 100%;
}
#heading{
  background-color: #92C9B1;
}
#jobTitle{
  background-color: #92C9B1;
}
